body {
    display: grid;
    background-color: rgb(16, 15, 22);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    background: linear-gradient(360deg, blue, rgb(255, 221, 0)); /* Исправлено 'background-color' на 'background' */
    -webkit-background-clip: text;
    -webkit-mask-image: linear-gradient(black, black);
}

.cont {
    margin-left: 50%;
    margin-left: 10px;
    background-color: white;
    width: 100px;
    display: grid;
    transition: 0.5s ease;
    height: 10px;
}

.cont:hover{
    height: 210px;
}

.img {
    margin-top: 3px;
    width: 100px;
    background: white;
    cursor: pointer;
}

.opt {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    width: 100px;
    text-align: center;
    color: black;
    background-color: #ffffff;
    cursor: pointer;
}

.desc {
    text-align: center;
    opacity: 0%;
    transition: 0.5s ease-in;
}

.cont:hover .desc {
    opacity: 100%;
    cursor: pointer;
}

.cont:not(:hover) .desc {
    transition: 0s;
    opacity: 0%;
}






